#principal_container {
    width: 500px;
}

#secondary_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 30px;
}

button {
    border: none;
    border-radius: 2%;
}

.fix_width {
    width: 200px;
    height: 40px;
    border-radius: 2%;
}

button:hover {
    opacity: 0.8;
}